__pycache__/CONST.cpython-312.pyc
__pycache__/functions.cpython-312.pyc
.idea/eyrein-porducts.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
Products.json
Productss.json
products.log
